.vegaTests {
  display: flex;
}

.draggable-area {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 100px;
  background-color: beige;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  &--dragging {
    background-color: bisque;
  }
}

.draggable {
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background: #5af;
  color: white;
  font-size: 21px;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  &--dragging {
    opacity: 0.5;
    z-index: 10;
    outline: 1px solid grey;
  }
}

.draggable:nth-child(odd) {
  top: 30px;
}
.draggable:nth-child(even) {
  top: 150px;
}
.draggable:nth-child(-n + 2) {
  left: 30px;
}
.draggable:nth-last-child(-n + 2) {
  left: 150px;
}
